/* 

@font-face {
font-family: 'Font Name';
src: url('bebasneue-regular_1-demo.html');
src: url('bebasneue-regular_1-webfont.eot') format('embedded-opentype'),
     url('bebasneue-regular_1-webfont.woff') format('woff2'),
     url('bebasneue-regular_1-webfont.woff2') format('woff'),
     url('BebasNeue-Regular.ttf') format('truetype');
font-style: normal;
font-weight: normal;
}


        html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: ;
        font-size: 18px;
        }

        body   {
        background-color: ;
        margin: 0;
        padding: 0;
        max-height: 100%;        
        display: ;
        }

        *      {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        }

        .btn {
        position:absolute;
        height: 35px; 
        width: 100px; 
        top: 65px;
        border: 2px black;
        border-radius: 20px;
        text-align: center;
        }

        .btn a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        }

        .btn a:hover {
        color: #f1f1f1;
        transition: 0.5s; 
        }

 */
