@font-face {
  font-family: 'baba';
  src: url('bebasneue-regular_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body
{ 
  background-image: url(/Images/kj.jpeg);
  background-size: 100%;
  background-position: top;
  font-family: 'baba';
  margin: 0;
  padding: 0;
}

.body2
{ 
  background-image: url(/Images/rl.jpeg);
  background-size: 100%;
  background-position: top;
  font-family: 'baba';
  margin: 0;
  padding: 0;
}

input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.sign-up{
  background: #fff;
  border-radius: 5px;
  box-shadow: : 0 0 3px 0 rgba(0,0,0,0.3);
  margin: 8% auto 0;
  padding: 20px;
  text-align: center;
  width: 300px;

}

.sign-up h1{
  color: ;
  margin-bottom: 30px;
}

.input-box{
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px -10px;
  outline: none;
  padding: 10px;
  width: 100%;
}

button{
   border: none;
   border-radius: 7.5px;
   color: rgb(26, 12, 12);
   cursor: pointer;
   font-size: 15px;
   margin: 10px 0;
   outline: none;
   padding: 10px;
   width: 100%;
}



.sign-btn{
  background-color: rgb(186, 85, 253);
  font-family: "baba";
  font-size: 20px;
}

.FB-btn{
  background-color: #3b5998;
  color: white;
}

.GG-btn{
  background-color: rgb(255, 75, 75);
  color: white;
}

a{
  text-decoration: none;
}

hr{
  margin-top: 20px;
  width: 90%;
}

.or{
  background: #fff;
  margin: -20px auto 10px ;
  width: 30px;
}

img{
  width: 90px;
}
